.friendTable tr th,
.friendTable tr td,
.seatTable tr th,
.seatTable tr td {
    padding: 15px;
}

.seatTable tr.active td {
    background-color:#123456 !important;
    color: white;
}

.friendTable tr.active td {
    background-color:#123456 !important;
    color: white;
}