<table #tablereservations mat-table [dataSource]="reservationsInfo">
  <ng-container matColumnDef="rentalService">
    <th mat-header-cell *matHeaderCellDef>Rental service</th>
    <td mat-cell *matCellDef="let reservationInfo">{{reservationInfo.rentalService.name}}</td>
  </ng-container>
  <ng-container matColumnDef="make">
    <th mat-header-cell *matHeaderCellDef>Car make</th>
    <td mat-cell *matCellDef="let reservationInfo">{{reservationInfo.car.make}}</td>
  </ng-container>
  <ng-container matColumnDef="registration">
    <th mat-header-cell *matHeaderCellDef>Registration</th>
    <td mat-cell *matCellDef="let reservationInfo">{{reservationInfo.car.registration}}</td>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let reservationInfo">{{reservationInfo.reservation.startDate | date:'dd/MM/yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let reservationInfo">{{reservationInfo.reservation.endDate | date:'dd/MM/yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let reservationInfo">{{reservationInfo.reservation.price}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let reservationInfo"> <button id={{reservationInfo.reservation.id}} mat-button (click)='mymethod($event)'> Cancel </button> </td>
  </ng-container>

  <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>Rate</th>
      <td mat-cell *matCellDef="let reservationInfo"> <button *ngIf=!reservationInfo.reservation.rated id={{reservationInfo.reservation.id}} mat-button (click)='rateDialog($event)'> Rate </button> 
        <div *ngIf=reservationInfo.reservation.rated style="color:green"> Rated </div> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayReservations"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayReservations"></tr>
</table>
<div>
  <a mat-button (click)="previousPage()" [disabled]="this.pageNum === 0">Previous page</a>
  <a mat-button (click)="nextPage()" [disabled]="this.reservationsInfo.length !== this.pageSize">Next page</a>
</div>
