<mat-toolbar color="primary">
  Register
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<form novalidate>
  <p>
  <mat-form-field class="form-size">
      <input matInput placeholder="E-mail" type="text">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field class="form-size">
      <input matInput placeholder="Username" type="text">
  </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form-size">
        <input matInput placeholder="Password" type="text">
    </mat-form-field>
  </p>
  <button type="submit" mat-button class="background-primary text-floral-white">
    Submit
  </button>
</form>