<div fxFlex fxFlexOffset="20px" class="form-size">
    <form novalidate [formGroup]="changeForm" #changeform="ngForm" (ngSubmit)="onChangeSubmit()">
      <p>
        <mat-form-field class="form-size">
          <input matInput formControlName="name" placeholder="Name" type="text" [readonly]=true>
          <mat-error *ngIf="changeFormErrors.name">
            {{ changeFormErrors.name }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-size">
          <input matInput formControlName="address" placeholder="Address" type="text">
          <mat-error *ngIf="changeFormErrors.address">
            {{ changeFormErrors.address }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-size">
          <input matInput formControlName="description" placeholder="Description" type="text">
          <mat-error *ngIf="changeFormErrors.description">
            {{ changeFormErrors.description }}
          </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="changeForm.invalid" (ngSubmit)="onChangeSubmit()">
          Submit
      </button>
    </form>
  </div>
