<mat-toolbar color="primary">
  <a mat-button (click)="setToAdd()" *ngIf="userType==='admin'"> Add</a>
  <a mat-button (click)="setToRemove()" *ngIf="userType==='admin'"> Remove </a>
  <a mat-button (click)="setToChange()" *ngIf="userType==='rentalServiceAdmin'"> Change </a>
  <a mat-button (click)="setToSearch()"> Search </a>
  <a mat-button (click)="setToList()"> List all </a>
  <span class="flex-spacer"></span>
  <!--<a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg">Login</span></a>-->
</mat-toolbar>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let location of filteredLocationsStrings" [value]="location">{{location}}</mat-option>
</mat-autocomplete>

<div *ngIf="isAdd&&userType==='admin'">
  
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <form novalidate [formGroup]="addForm" #addform="ngForm" (ngSubmit)="onAddSubmit()">
      <p>
      <mat-form-field class="form-size">
          <input matInput formControlName="name" placeholder="Name" type="text">
          <mat-error *ngIf="addFormErrors.name">
            {{ addFormErrors.name }}
          </mat-error>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput formControlName="countryCity" placeholder="Location" type="text" [matAutocomplete]="auto">
          <mat-error *ngIf="addFormErrors.countryCity">
            {{ addFormErrors.countryCity }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
      <mat-form-field class="form-size">
          <input matInput formControlName="address" placeholder="Address" type="text">
          <mat-error *ngIf="addFormErrors.address">
              {{ addFormErrors.address }}
          </mat-error>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-size">
          <textarea matInput formControlName="description" placeholder="Description" type="text" rows=5></textarea>
            <mat-error *ngIf="addFormErrors.description">
                {{ addFormErrors.description }}
            </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="addForm.invalid">
        Submit
      </button>
    </form>
  </div>
</div>

<div *ngIf="isRemove&&userType==='admin'">
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <form novalidate [formGroup]="removeForm" #removeform="ngForm" (ngSubmit)="onRemoveSubmit()">
      <p>
        <mat-form-field class="form-size">
          <input matInput formControlName="name" placeholder="Name" type="text">
          <mat-error *ngIf="removeFormErrors.name">
            {{ removeFormErrors.name }}
          </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="removeForm.invalid" (ngSubmit)="onRemoveSubmit()">
          Submit
      </button>
    </form>
  </div>
</div>

<div *ngIf="isChange&&userType==='rentalServiceAdmin'">
  <app-change-rental-service></app-change-rental-service>
</div>

<div *ngIf="isSearch">
  <div fxFlex fxFlexOffset="20px" class="form-size" >
    <form novalidate [formGroup]="searchForm" #searchform="ngForm" (ngSubmit)="onSearchSubmit()">
      <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="startDate" [matDatepicker]="myDatepicker" placeholder="Start time">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <mat-error *ngIf="searchFormErrors.startDate">
              {{ searchFormErrors.startDate }}
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="endDate" [matDatepicker]="myDatepicker2" placeholder="End time">
            <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
            <mat-error *ngIf="searchFormErrors.startDate">
              {{ searchFormErrors.endDate }}
            </mat-error>
          </mat-form-field>
        </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="name" placeholder="Name" type="text">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput formControlName="countryCity" placeholder="Location" type="text" [matAutocomplete]="auto">
          <mat-error *ngIf="searchFormErrors.countryCity">
            {{ searchFormErrors.countryCity }}
          </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" (ngSubmit)="onSearchSubmit()" [disabled]="searchForm.invalid">
          Submit
      </button>
    </form>
  </div>
  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile *ngFor="let service of foundServices">
        <mat-card (click)="openMap(service)" class="pointer">
          {{service.name}} | {{service.address}} | {{service.description}}
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div *ngIf="islist">
  <app-listallservices></app-listallservices>
</div>
