<form (ngSubmit)="onSubmit()">
    <p>
        Registration: 
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.registration}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        Make:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.make}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        Seats:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.seats}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        Category:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.category}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        Start date:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.start}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        End date:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.end}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        Total days:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.days}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        Price per day:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.price}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p>
        Total price:
        <mat-form-field class="form-size">
            <input matInput placeholder={{car.showPrice}} type="text" [readonly]="true">
        </mat-form-field>
    </p>
    <p *ngIf="canUseBonusPointsCar">
        <mat-checkbox [(ngModel)] = "car.usingBonus" [ngModelOptions]="{standalone: true}" (change)="carCheckboxClicked()">Use bonus points (100 for 10% off)</mat-checkbox>
    </p>
    <button *ngIf="canReserve" type="submit" mat-button class="background-primary text-floral-white">
        Submit
    </button>
</form>