<mat-toolbar color="primary">
  <a mat-button (click) = "addButton()" *ngIf="userType==='admin'"> Add</a>
  <a mat-button (click) = "searchButton()" *ngIf="userType!='admin'"> Search </a>
  <a mat-button (click) = "searchRoomsButton()" *ngIf="userType!='admin'"> Rooms </a>
  <a mat-button (click) = "quickReservationButton()" *ngIf="userType!='admin'"> Quick reservation </a>
  <span class="flex-spacer"></span>
</mat-toolbar>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let location of filteredLocationsStrings" [value]="location">{{location}}</mat-option>
</mat-autocomplete>
<div *ngIf = "addActive&&userType==='admin'">
  <div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
      <div>
          <h3>Add a hotel</h3>
          <hr>
      </div>
    </div>

    <div fxFlex class="form-size">
      <form novalidate [formGroup]="hotelForm" #fformAdd="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="name" placeholder="Hotel Name" type="text">
            <mat-error *ngIf="formErrors.name">
              {{ formErrors.name }}
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput formControlName="countryCity" placeholder="Location" type="text" [matAutocomplete]="auto">
            <mat-error *ngIf="formErrors.countryCity">
              {{ formErrors.countryCity }}
            </mat-error>
          </mat-form-field>

        </p>
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="address" placeholder="Address" type="text">
            <mat-error *ngIf="formErrors.address">
              {{ formErrors.address}}
            </mat-error>
          </mat-form-field>
        </p>         
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="description" placeholder="Hotel description" rows=5></textarea>
          </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white"
        [disabled]="hotelForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf = "removeActive">

</div>

<div *ngIf = "searchActive">
  <div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
    <div fxFlex>
      <div>
        <form novalidate [formGroup]="searchHotelForm" #fformSearchHotels="ngForm" (ngSubmit)="onSearchHotelsSubmit()">
          <mat-form-field class="half-width">
            <input matInput formControlName="name" placeholder="Hotel Name" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="countryCity" placeholder="Location" type="text" [matAutocomplete]="auto">
            <mat-error *ngIf="formErrors.countryCity">
              {{ formErrors.countryCity }}
            </mat-error>
          </mat-form-field>
          <p>
            <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
          </p>
          <hr>
        </form>
      </div>
    </div>
    <div fxFlex>
      <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile *ngFor="let hotel of hotelsFound">
          <mat-card (click)="openMap(hotel)" class="pointer">
            <mat-card-content>
              {{hotel.name}} | {{hotel.address}} | {{hotel.description}}
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

<div *ngIf="searchRoomsActive">
  <div class="container"
       fxLayout="column"
       fxLayoutGap="10px">
    <div fxFlex>
      <div>
        <form novalidate [formGroup]="searchRoomsForm" #fformSearchRooms="ngForm" (ngSubmit)="onSearchRoomsSubmit()">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="startDate" [matDatepicker]="myDatepicker1" readonly placeholder="Start date">
              <mat-datepicker-toggle [for]="myDatepicker1"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1></mat-datepicker>
              <mat-error *ngIf="searchRoomsFormErrors.startDate">
                {{ searchRoomsFormErrors.startDate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
              <input matInput formControlName="endDate" [matDatepicker]="myDatepicker2" readonly placeholder="End date">
              <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker2></mat-datepicker>
              <mat-error *ngIf="searchRoomsFormErrors.endDate">
                {{ searchRoomsFormErrors.endDate}}
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width" style="height:50%">
              <input matInput formControlName="beds" placeholder="Number of beds" type="number">
              <mat-error *ngIf="searchRoomsFormErrors.beds">
                {{ searchRoomsFormErrors.beds}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
              <input matInput formControlName="price" placeholder="Max price" type="number">
              <mat-error *ngIf="searchRoomsFormErrors.price">
                {{ searchRoomsFormErrors.price}}
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="name" placeholder="Hotel Name" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="countryCity" placeholder="Location" type="text" [matAutocomplete]="auto">
              <mat-error *ngIf="formErrors.countryCity">
                {{ formErrors.countryCity }}
              </mat-error>
            </mat-form-field>
          <p>
            <button type="submit" mat-button class="background-primary text-floral-white"
            [disabled]="searchRoomsForm.invalid">Submit</button>
          </p>
          <hr>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="searchDone">
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile *ngFor="let room of foundRooms">
      <mat-card class="pointer" (click) ="clickRoom(foundRooms.indexOf(room))">
        <mat-card-content>
          <h3>{{foundRooms.indexOf(room) + 1}}</h3>
          Hotel: {{room.hotel}} <br>
          Room number: {{room.room.number}} <br>
          Room description: {{room.room.description}} <br>
          Price/night: {{room.price}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="quickReservationActive">
  <app-room-quick-reservation></app-room-quick-reservation>
</div>
